.appbody {
    background-color: rgb(231, 231, 231);
    padding: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.inputbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    border: 1px solid;
    padding: 10px;
    max-width: 90%;
}

.date,
.iteam,
.expiry,
.lotsize,
.numberlot,
.buyqty,
.sell,
.sellprice {
    margin: 10px;
    width: 100%;
    max-width: 300px;
}

.submit1 {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5px;
}

.text1 {
    display: flex;
    justify-content: center;
}

@media (min-width: 601px) {
    .inputbox {
        max-width: 50%;
    }
    .submit1 {
        margin-left: 200px;
    }
}